<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moczó László</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="cv.css?20150107">
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<header class="page-header row">
			<div class="col-xs-8">
				<img src="moczo_laszlo.jpg" width="150" height="200" alt="Moczó László" class="thumbnail pull-left">
				<h1>
					Moczó László<br>
					<small>Front-end developer</small>
				</h1>
			</div>
			<div class="col-xs-4">
				<address></address>
			</div>
		</header>
		<section id="skills" class="row"></section>
		<section id="experience"></section>
		<footer class="hidden-print"></footer>
	</div>

	<script id="tpl-contact" type="text/x-jsrender">
		<h4>{{:title}}:</h4>
		{{for items}}
			<i class="fa fa-{{:icon}}"></i>{{:title}}: <a href="{{:link}}">{{:text}}</a><br>
		{{/for}}
	</script>

	<script id="tpl-skills" type="text/x-jsrender">
		<header class="col-xs-3">
			<h3>{{:title}}</h3>
		</header>
		<div class="col-xs-5">
			<dl>
				<dt><h4>{{:programming.title}}</h4></dt>
				{{props programming.items}}
					<dd><strong>{{:key}}</strong> - {{:prop}}</dd>
				{{/props}}
			</dl>
		</div>
		<div class="col-xs-4">
			<dl>
				<dt><h4>{{:others.title}}</h4></dt>
				{{props others.items}}
					<dd><strong>{{:key}}</strong> - {{:prop}}</dd>
				{{/props}}
			</dl>
		</div>
	</script>

	<script id="tpl-experience" type="text/x-jsrender">
		{{for items ~title=title  ~works=works}}
			<div class="row">
				{{if #index == 0}}
					<header class="col-xs-3">
						<h3>{{:~title}}</h3>
					</header>
				{{else}}
					<div class="col-xs-3">&nbsp;</div>
				{{/if}}
				<div class="col-xs-5">
					<h4>
						{{:name}}<br>
						<small>
							{{:period}}<br>
							<a href="http://www.{{:link}}" target="_blank">{{:link}}</a>
						</small>
					</h4>
					<p>
						{{:positions}}
					</p>
				</div>
				<div class="col-xs-4">
					<dl class="works">
						{{if links || others}}
							<dt><h5>{{:~works}}</h5></dt>
							{{for links}}
								<dd><a href="http://www.{{:#data}}" target="_blank">{{:#data}}</a></dd>
							{{/for}}
							{{for others}}
								<dd>{{:#data}}</dd>
							{{/for}}
						{{/if}}
					</dl>
				</div>
			</div>
		{{/for}}
	</script>

	<script id="tpl-footer" type="text/x-jsrender">
		<a href="#{{:targetLangId}}">{{:targetLangText}}</a>
		<a href="#print"><i class="fa fa-print"></i> {{:print}}</a>
		<a href="#top"><i class="fa fa-arrow-up"></i> {{:top}}</a>
	</script>

	<script src="jquery.min.js"></script>
	<script src="jsrender.min.js"></script>
	<script src="cv.js?20150107"></script>
</body>
</html>